@import './common';
@import './example';
img{
  width: 320px;
  height: auto;
  aspect-ratio: auto;
}
a{
  text-decoration: none;
}
body {
  background: #22c1c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
.header {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 10px 5px 5px rgb(124, 255, 107);
  padding: 10px 0;
}
.info {
  display: flex;
}
button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #9685f8;
    border: none;
    color: #fff;
    transition: transform 0.2s;
  }
  
  button:hover {
    background-color: #aaa;
    cursor: pointer;
  }
  
  button:active {
    transform: translateY(2px);
  }
  
.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}  
.photo-card{
  width: 320px;
  height: 320px;
}
.info-item{
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: black;
}
.search-form{
  display: flex;
  justify-content: center;
  margin: 20 auto;
}
.load-btn{
  margin: 0 auto;
}
  